# Goals

* Add already-processed SRX accessions to the database
  * Datasets already processed by Chris

In [1]:
import os
import warnings
from dotenv import load_dotenv
import psycopg2
from psycopg2.extensions import connection
import pandas as pd
from dynaconf import Dynaconf
from pypika import Query, Table, Field, Column, Table

In [2]:
from SRAgent.db.connect import db_connect
from SRAgent.db.upsert import db_upsert

In [3]:
load_dotenv()

True

# Load SRX values

In [4]:
infile = "../data/counted_SRX.txt"
counted = pd.read_csv(infile, sep='\t', header=None)
counted.columns = ["srx_accession"]
counted

      srx_accession
0       SRX13670569
1       SRX19828711
2       SRX19829151
3        SRX9556597
4       SRX19826284
...             ...
16708    SRX9770752
16709   SRX11523521
16710   SRX19830191
16711   SRX19825307
16712    SRX1128586

[16713 rows x 1 columns]

In [5]:
# add columns
counted["database"] = "sra"
counted["entrez_id"] = range(1, len(counted) + 1)
counted["notes"] = "Processed by Chris Carpenter"
counted

      srx_accession database  entrez_id                         notes
0       SRX13670569      sra          1  Processed by Chris Carpenter
1       SRX19828711      sra          2  Processed by Chris Carpenter
2       SRX19829151      sra          3  Processed by Chris Carpenter
3        SRX9556597      sra          4  Processed by Chris Carpenter
4       SRX19826284      sra          5  Processed by Chris Carpenter
...             ...      ...        ...                           ...
16708    SRX9770752      sra      16709  Processed by Chris Carpenter
16709   SRX11523521      sra      16710  Processed by Chris Carpenter
16710   SRX19830191      sra      16711  Processed by Chris Carpenter
16711   SRX19825307      sra      16712  Processed by Chris Carpenter
16712    SRX1128586      sra      16713  Processed by Chris Carpenter

[16713 rows x 4 columns]

In [8]:
with db_connect() as conn:
    db_upsert(counted, "srx_metadata", conn)